{% extends 'base.html.twig' %}

{% block title %}Zoek Artiesten{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Zoekresultaten voor "{{ query }}"</h1>

    {% if artists|length > 0 %}
        <div class="list-group">
            {% for artist in artists %}
                <a href="{{ path('app_artist_show', {id: artist.id, slug: artist.slug}) }}" class="list-group-item list-group-item-action">
                    {{ artist.name }}
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>Geen artiesten gevonden.</p>
    {% endif %}
</div>
{% endblock %}

