service: clippy
image: jouwweb-artifact-registry/images/clippy

servers:
  web:
    - 34.91.167.95

ssh:
  user: kamal

proxy:
  ssl: true
  host: clippy.jouwweb.dev

registry:
  server: europe-west4-docker.pkg.dev
  username: _json_key_base64
  password:
    - KAMAL_REGISTRY_PASSWORD

env:
  clear:
    APP_ENV: production
    IMAGE_UTILS_HOST: clippy-image-utils
    QDRANT_HOST: clippy-qdrant
  secret:
    - DATABASE_URL
    - APP_SECRET
    - SENTRY_DSN
    - UNSPLASH_API_KEY
    - PEXELS_API_KEY

builder:
  arch: amd64
  target: packaged

accessories:

  mysql:
    image: mysql:8.0.32
    host: 34.91.167.95
    port: "127.0.0.1:3306:3306"
    files:
      - schema.sql:/docker-entrypoint-initdb.d/setup.sql
    env:
      clear:
        MYSQL_USER: app
        MYSQL_DATABASE: app
      secret:
        - MYSQL_PASSWORD
        - MYSQL_ROOT_PASSWORD

  qdrant:
    image: qdrant/qdrant:v1.13.1
    host: 34.91.167.95
    port: "127.0.0.1:6333:6333"
    volumes:
      - /qdrant/storage:/qdrant/storage

  # Source is found in this repo, in the `image-utils-image` directory.
  image-utils:
    image: europe-west4-docker.pkg.dev/jouwweb-artifact-registry/images/image-utils:1.1.0
    host: 34.91.167.95
    port: "127.0.0.1:5000:5000"

  # Note: repo https://github.com/Webador/auxiliary-crons/ will validate whether these backups are actually delivered.
  mysql-backup:
    image: europe-west4-docker.pkg.dev/jouwweb-artifact-registry/images/database-backup:1.0.5
    host: 34.91.167.95
    env:
      clear:
        # Runs daily at 3 AM
        CRON_SCHEDULE: "0 3 * * * "
        DB_HOST: clippy-mysql
        DB_USER: root
        DB_NAME: app
        GCS_BUCKET_NAME: "jouwweb-mail-data-backups"
        GCS_PREFIX: "clippy-"
      secret:
        - DB_PASSWORD
        # This service accounts requires the `Storage Object Creator` role _and_ the `storage.objects.list` permission.
        # Please don't assign general read access to this service account on the backup bucket.
        # (note that the `Storage Legacy Bucket Writer` role offers this, but `Storage Legacy Bucket Writer` does not)
        - GCP_SERVICE_ACCOUNT_KEY

logging:
  driver: fluentd
  options:
    fluentd-address: "127.0.0.1:24224"