{% extends 'base.html.twig' %}

{% block title %}Zoek Recensenten{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Zoekresultaten voor "{{ query }}"</h1>

    {% if critics|length > 0 %}
        <div class="list-group">
            {% for critic in critics %}
                <a href="{{ path('app_critic_show', {id: critic.id}) }}" class="list-group-item list-group-item-action">
                    {{ critic.name }}
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>Geen recensenten gevonden.</p>
    {% endif %}
</div>
{% endblock %}

