{% extends 'base.html.twig' %}

{% block title %}Zoek Albums{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Zoekresultaten voor "{{ query }}"</h1>

    {% if albums|length > 0 %}
        <div class="list-group">
            {% for album in albums %}
                <a href="{{ path('app_album_show', {id: album.id, slug: album.slug}) }}" class="list-group-item list-group-item-action">
                    {{ album.title }} ({{ album.artist.name }})
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>Geen albums gevonden.</p>
    {% endif %}
</div>
{% endblock %}

