<footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
        <span class="text-muted">&copy; {{ "now"|date("Y") }} Muzieklijstjes. Alle rechten voorbehouden.</span>
        <div class="mt-2">
            <a href="#" class="text-decoration-none text-secondary mx-2">Privacybeleid</a>
            <a href="#" class="text-decoration-none text-secondary mx-2">Algemene Voorwaarden</a>
            <a href="#" class="text-decoration-none text-secondary mx-2">Contact</a>
        </div>
    </div>
</footer>

