<div class="row mb-4">
    <div class="col-md-4">
        <form action="{{ path('app_artist_search') }}" method="get">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Zoek Artiesten..." required>
                <button class="btn btn-outline-secondary" type="submit">Zoeken</button>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <form action="{{ path('app_album_search') }}" method="get">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Zoek Albums..." required>
                <button class="btn btn-outline-secondary" type="submit">Zoeken</button>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <form action="{{ path('app_critic_search') }}" method="get">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Zoek Recensenten..." required>
                <button class="btn btn-outline-secondary" type="submit">Zoeken</button>
            </div>
        </form>
    </div>
</div>

