<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}register{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.png">
    {% block stylesheets %}
        <link href="/assets/bootstrap-5.3.1-dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    {% endblock %}

    {% block javascripts %}
        <script src="/assets/bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    {% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">
<div class="container flex-grow-1">
    <header class="text-center my-4">
        <h1><a href="{{ path('app_home') }}" style="text-decoration: none; color: inherit;">Muzieklijstjes</a></h1>
    </header>

    {% include 'common/search_bars.html.twig' %}

    <div class="flash-messages">
        {% for group, messages in app.flashes() %}
            {% for message in messages %}
                <div class="alert alert-{{ group }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    {% block body %}{% endblock %}
</div>

{% include 'common/footer.html.twig' %}
</body>
</html>
